.cards_item {
    display: flex;
    padding: 20%;
}

.card {
    background-color: rgba(255, 255, 255, 0.733);
  border-radius: 18px;
  box-shadow: 10px 10px 5px 5px rgba(255, 158, 2, 0.418);
  overflow: hidden;
  height: 300px;
  width: 230px;
}

.name {
    color: #ffa601;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Staatliches", sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0)
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.image {
    height: 141px;
  width: 130px;

}
